* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cormorant', serif;
}   

.header h1, nav, li {
    display: inline-block;
    margin: 8px;
    padding: 5px;
}

.header {
    /* border: 1px solid blue; */
    margin: 15px 35px;
}

.header h1 {
    font-weight: 350;
}

.top-nav a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

a.active {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}

main {
    margin: 15px 35px;

}

.img-container {
    width: 49.75%;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 12px;  
}

.img-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;

}

.img-container h2 {
    display: inline-block;
}

#about {
    margin: 70px 35px;
}

#about div {
    position: relative;
    left: 150px;
    top: 20px;
}

#about h2 {
    font-size: 30px;
    font-weight: 350;
    margin-top: 20px;
}

#contact {
    margin: 70px 35px;
}

#contact h3 {
    position:relative;
    left: 150px;
    top: 30px;
}